name: Unit Test and Documentation

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install uv
        run: |
            curl -LsSf https://astral.sh/uv/install.sh | sh
            export PATH="$HOME/.local/bin:$PATH"
            uv --version
      - name: Install dependencies with uv
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          uv pip install numpy pytest graycode qiskit qiskit_aer torch \
            sphinx sphinx_rtd_theme sphinx-autodoc-typehints matplotlib ghp-import \
            qiskit_ibm_runtime pandas

      - name: Test with pytest
        run: |
          export PATH="$HOME/.local/bin:$PATH"
          pytest --verbose

      - name: Produce html in Sphinx
        run: |
          sphinx-build -M html docs docs/build/
          touch .nojekyll
      - name: Publish to GitHub Pages
        run: |
          ghp-import -n -p -f docs/build/html
